/* Stili base */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: linear-gradient(180deg, #090811, #090811); /* Sfumatura scura verticale */
  color: #ffffff; /* Testo chiaro per visibilità */
}




section {
  padding: 2rem;
  text-align: center;
}

.projects-grid, .companies-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.project-card, .company-card {
  border: 1px solid #ccc;
  padding: 1rem;
  max-width: 300px;
}

.project-card img, .company-card img {
  width: 100%;
  height: auto;
}

footer {
  background: #f4f4f4;
  padding: 1rem;
  text-align: center;
}